@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-page: #02021C;
    --bg-menu: linear-gradient(40deg, #311E6D, #C17AE4);
    --font-color: #C1B3D6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-page);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    align-items: center
}

img {
    width: 30px;
    height: 20px;
}



header {
    width: 35vw;
    height: 100vh;
    border: #C17AE4 solid 1px;
    background: linear-gradient(92deg, #311E6D 20%, #C17AE4 55%);
}

section {
    width: 65vw;
    height: 100vh;
    border: #5db872 solid 1px;
}